
/* tablet media query */

@media 
only screen and (min-width: 768px) and (max-width: 991px) {

    body {
		display: flex;
        flex-direction: row;
	}

    #hamnav {
        width: 20vw;
        padding-top: 10vh;
      }

	#hamnav label, #hamburger { 
        display: none; 
    }

    #hamitems, #hamnav input:checked ~ #hamitems { 
        display: flex;
        flex-direction: column;
    }

    #hamitems a {
        width: 98%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 10px;
        color: var(--primary-color);
        background-color: transparent;
        text-decoration: none;
        text-align: center;
        font-size: 2rem;
    }

    #hamitems a:hover {
        color: var(--overlay-color);
        background-color: rgb(212, 184, 193);
    }

    .section-wrapper {
        width: 80vw;
    }

}

/* desktop media query
/* Use display inline box to rearrange different div elements */

@media
only screen and (min-width: 992px) {
    #hamnav {
        display: none;
    }

    .section-wrapper {
        display: flex;
        flex-direction: row;
    }

    .section {
        display: flex;
        width: 30vw;
        margin: 0;
        padding: 1.5vw;
    }

    .accordion-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 33vw;
    }

    .accordion {
        width: 33vw;
        margin: 0;
    }

    .accordion:checked {
        margin: 0;
        width: 33vw;
    }

    .headshot {
        display: flex;
        width: 75%;
        max-width: 35vw;
        width: 90%;
        border-radius: 5px;
        margin: 0 auto;
        padding: 10px;
    }

    .section-wrapper:nth-child(1) { order: 2; }
    
}