
/* tablet media query */

@media 
only screen and (min-width: 768px) and (max-width: 991px) {

    body {
        background: center / cover url(https://upload.wikimedia.org/wikipedia/commons/d/dd/A_self_portrait_on_top_of_the_local_big_mountain%2C_Stol.jpg);
        min-height: 100vh;
    }

    .abovefooter {
        display: flex;
        flex-direction: row;
    }

    #hamnav {
        width: 20vw;
        padding-top: 10vh;
        margin-top: 0;
      }

	#hamnav label, #hamburger { 
        display: none; 
    }

    #hamitems, #hamnav input:checked ~ #hamitems { 
        display: flex;
        flex-direction: column;
    }

    #hamitems a {
        width: 98%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 10px;
        color: var(--primary-color);
        background-color: transparent;
        text-decoration: none;
        text-align: center;
        font-size: 2rem;
    }

    #hamitems a:hover {
        color: var(--overlay-color);
        background-color: rgb(212, 184, 193);
    }

    .section-wrapper {
        width: 80vw;
    }

    .pagetop {
        position: sticky;
        top: 0;
        background: var(--overlay-color);
        height: 25rem;
        padding: .25rem;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

}

/* desktop media query */

@media
only screen and (min-width: 992px) {
    #hamnav {
        display: none;
    }

    .section-wrapper {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    .section {
        display: none;
        margin: 0;
        padding: 1.5vw;
    }

    .accordion {
        margin: 0;
    }

    .accordion-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: calc(100%/3);
    }

    .headshot {
        display: flex;
        width: 75%;
        max-width: 35vw;
        width: 90%;
        border-radius: 5px;
        margin: 0 auto;
        padding: 10px;
    }    
}