:root {
    --primary-color: rgba(230, 230, 250, 0.85);
    --overlay-color: rgba(106, 90, 205, 0.95);
}

#hamnav {
    border-radius: 5px;
    background-color: var(--overlay-color);
    margin: .25rem auto;
}

/* Show hamburger icon */
#hamnav label {
    width: 100%;
    display: inline-block;
    color: var(--primary-color);
    background: var(--overlay-color);
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    padding: 10px;
    position: sticky;
    top: 0;
}

/* Hide Hamburger */
#hamburger { 
    display: none;
}

#hamnav label:hover {
    color: rgb(212, 184, 193);
    cursor: pointer;
    transition: color 1s ease-in-out;
}

/* Horizontal Menu Items */
#hamitems { 
    display: flex;
    opacity: 
}

#hamitems a {
  width: 33%;
  padding: 10px;
  color: var(--overlay-color);
  background: var(--primary-color);
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover {
  background: var(--overlay-color);
  color:var(--primary-color)
}

/* Break down menu items into vertical */
#hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

/* Toggle Show/Hide Menu */
#hamitems { display: none; }

#hamnav input:checked ~ #hamitems {
    display: block;
}

