.banner {
	color: lavender;
	background-color: slateblue;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 5px;
	font-size: 1.5rem;
	display: block;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	border-radius: 25px;
	margin-bottom: 5px;
}

.about {
	color:darkslategray;
	background-color:lavender;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 5px;
	font-size: 1.5rem;
	display: block;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 25px;
	margin-bottom: 5px;
	transition:
}

.portfolio {
	color: lavender;
	background-color: darkslategray;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 5px;
	font-size: 1.5rem;
	display: block;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 25px;
	margin-bottom: 5px;
}

.contact {
	color:darkslategray;
	background-color:lavender;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 5px;
	font-size: 1.5rem;
	display: block;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 25px;
	margin-bottom: 5px;
}

h1,
h2 {
	display: flex;
	justify-content: center;
	text-decoration-line: underline;
}

.submenu:hover,
h2:hover {
	color: lightslategrey;
}
img {
	width: 10px;
}

menu {
	display: flex;
}

.submenu {
	margin: auto;
}

p {
	font-size: 1rem;
}

/* tablet media query */

@media 
only screen and (min-width: 768px) {

}

/* desktop media query */

@media
only screen and (min-width: 992px) {

.banner {
	display: flex;
	justify-content: left;
}

menu {
	justify-content:space-between;
	display: flex;
	width: 768px;
	flex-wrap: wrap;
}

}