/* Create a hamburger menu for the banner element for mobile */

html, body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
	scroll-behavior: smooth;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/dd/A_self_portrait_on_top_of_the_local_big_mountain%2C_Stol.jpg);
	background-color: lightblue;
	background-size: cover;
  }

:root {
    --primary-color: rgba(230, 230, 250, 0.85);
    --overlay-color: rgba(106, 90, 205, 0.95);
}

.banner {
    height: 15vh;
	border-radius: 5px;
    background-color: var(--overlay-color);
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
	align-content: center;
}

header > h1 {
    font-size: 3rem;
    text-decoration: underline;
}

.section {
	color: var(--overlay-color);
	background-color: var(--primary-color);
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 25px;
	font-size: 1.5rem;
	display: none;
	flex-direction: column;
	margin: 0 auto;
	max-width: 80vw;
	overflow: hidden;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	text-align: left;
	border-radius: 5px;
}

.accordion {
	display: flex;
	flex-direction: column;
	margin: .25rem auto;
	max-width: 80vw;
	width: 100%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 2rem;
	border: none;
	background:rgba(106, 90, 205, 0.95);
	color: white;
	padding: 0.75rem 1.5rem;
	transition: opacity 1s ease-in;
	text-decoration: none;
	text-align: center;
	align-self: center;
	border-radius: 5px;
}

.accordion:hover {
	opacity: 0.7;
	cursor: pointer;
}

.headshot {
	display: flex;
	width: 50vw;
	max-width: 35vw;
	width: 90%;
	border-radius: 5px;
	margin: 0 auto;
	padding: 10px;
}

p {
	font-size: 1.5rem;
}

input:required {
	border-color: firebrick;
}

.contactitems {
	display: flex;
	flex-direction: column;
	align-items: left;
	align-content:space-between;
}

.btn {
	display: inline-block;
	border: none;
	background:rgba(106, 90, 205, 0.95);
	color: white;
	padding: 0.75rem 1.5rem;
	transition: opacity 1s ease-in-out;
	max-width: 30vw;
	text-decoration: none;
	text-align: center;
	align-self: center;
	border-radius: 10px;
}

.btn:hover {
	opacity: 0.7;
	cursor: pointer;
}

.contactitems {
	list-style:none;
}

.contactitems > li {
	padding: 1rem;
}